{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
    <div class="container mb-5">
        <div class="intro">
            <h1 class="text-center mt-5 mb-5">Certyfikaty</h1>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/certyfikaty/Jablotron_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/certyfikaty/Jablotron_800.jpg' %}"></a><p class="text-center">Jablotron</p></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/certyfikaty/Janex_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/certyfikaty/Janex_800.jpg' %}"></a><p class="text-center">Janex</p></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/certyfikaty/Emiter_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/certyfikaty/Emiter_800.jpg' %}"></a><p class="text-center">Emiter</p></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/certyfikaty/Dahua_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/certyfikaty/Dahua_800.jpg' %}"></a><p class="text-center">Dahua</p></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/certyfikaty/Alnet_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/certyfikaty/Alnet_800.jpg' %}"></a><p class="text-center">Alnet</p></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/certyfikaty/Microsoft_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/certyfikaty/Microsoft_800.jpg' %}"></a><p class="text-center">Microsoft</p></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/certyfikaty/Eltrox_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/certyfikaty/Eltrox_800.jpg' %}"></a><p class="text-center">Eltrox</p></div>
        </div>
    </div>
{% endblock %}