{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12">
                <h2>DOMOFONY</h2>
            </div>
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p class="monit-font">
                        Standardowe domofony obecne od wielu lat w naszych domach przekazywały jedynie sam dźwięk.
                        W chwili obecnej coraz popularniejsze stały się wideomofony które dzięki zastosowaniu miniaturowej kamery o szerokim obiektywie umożliwiają poza rozmową także jej podgląd na żywo.
                        Posiadamy modele kamer umożliwiające nagrywanie oraz robienie zdjęć z podglądu.
                        Wiele możliwości konfiguracji pozwala nam ustawić wideomofon w taki sposób, żeby podczas naszej nieobecności nagrywał osoby, które dzwoniły na domofon.
                        Dzięki temu wiemy kto i kiedy nas odwiedzał.
                        Nowoczesne kamery wyposażone w promień podczerwieni zapewniają nam doskonały obraz i widoczność w trudnych warunkach atmosferycznych jak również w całkowitej ciemności.
                    </p>
                    <p class="monit-font">
                        Wiele osób stosuje wideomofony jako uzupełnienie systemu alarmu i monitoringu.
                        Odpowiednio dobrane wideomofony zapewniają pełną integrację z systemem alarmowym.
                    </p>
                    <p class="monit-font">
                        Istotną kwestią jest wybranie firmy, która w profesjonalny sposób pomoże Nam przy wyborze urządzeń, tak aby były kompatybilne z już istniejącymi elementami stanowiącymi ochronę naszego domu i firmy.
                    </p>
                </blockquote>
            </div>
            <div class="row photos mt-4">
                <div class="col-xs-6 col-md-4 item mb-4"><img class="img-fluid blur rounded" src="{% static 'assets/img/domofony/domofon3.jpg' %}"></div>
                <div class="col-xs-6 col-md-4 item mb-4"><img class="img-fluid blur rounded" src="{% static 'assets/img/domofony/domofon2.jpg' %}"></div>
                <div class="col-xs-6 col-md-4 item mb-4"><img class="img-fluid blur rounded" src="{% static 'assets/img/domofony/domofon5.jpg' %}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Bezprzewodowe czy przewodowe ?</h2>
            </div>
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p class="monit-font">
                        Pierwsze z tych dwóch rozwiązań polega na komunikacji radiowej.
                        Urządzenia mają wyższą cenę i trzeba pamiętać o regularnej wymianie baterii.
                        Dlatego polecamy stosowanie ich tylko w przypadku doposażenia domu, gdy nie mamy możliwości położenia podtynkowego kabli.
                    </p>
                </blockquote>
            </div>
            <div class="row photos mt-4 justify-content-center align-items-center">
                <div class="col-xs-12 col-md-6 item mb-4"><img class="img-fluid rounded" src="{% static 'assets/img/domofony/domofon4.jpg' %}"></div>
            </div>
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p class="monit-font">
                        Komunikacja w systemie opartym na kablach jest mniej zawodna, nie trzeba pamiętać o wymianie baterii.
                        Budując dom od podstaw warto pomyśleć o dodatkowym okablowaniu aby w przyszłości uniknąć zbędnych kosztów.
                    </p>
                </blockquote>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text p-2">instalacje domofonowe i wideo domofonowe w budynkach jednorodzinnych</p>
                    </div>
                </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text p-2">instalacje w budynkach wielorodzinnych </p>
                </div>
            </div>
          </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text p-2">instalacje dla całego osiedla</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text p-2">modernizacje starych instalacji wieloprzewodowych na nowe cyfrowe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p class="monit-font">

                    </p>
{% endblock %}