{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
<section class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>SYSTEM KONTROLI <span style="color: orange;">DOSTEPU</span></h2>
            </div>
            <div class="col-md-12">
                <blockquote class="blockquote">
                <p class="monit-font">System Kontroli Dostępu znajduje swoje zastosowanie w dużych korporacjach jak i małych firmach.
                Podstawowym jego zadaniem jest niedopuszczenie nieuprawnionych osób do wydzielonych stref.
                Jego połączenie z system sygnalizacji włamania i napadu lub monitoringu CCTV zwiększają jego funkcjonalność.
                W połączeniu z monitoringiem możemy na bieżąco kontrolować działania osób znajdujących się
                w chronionej strefie a w przypadku włamania odciąć drogę ucieczki intruza.</p>
                </blockquote>
            </div>
        </div>

        <div class="row photos mt-4">
            <div class="col-xs-6 col-md-4 item mb-4"><img class="img-fluid blur rounded" src="{% static 'assets/img/kontrola/zestaw-kontroli-dostepu-roger_69137.webp' %}"></div>
            <div class="col-xs-6 col-md-4 item mb-4"><img class="img-fluid blur rounded" src="{% static 'assets/img/kontrola/44152043_1957389797685360_4757569998589788160_n.jpg' %}"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote">
                <p class="monit-font">System Kontroli dostępu dzieli obiekt na wydzielone strefy z ograniczonym dostępem i umożliwia weryfikacje osób w nich przebywających.
                Dzięki czemu możemy ograniczyć dostęp do określonych obszarów takich jak serwerownie, pomieszczenie ochrony, magazyny itp. wstęp do tych obszarów będą miały tylko osoby do tego uprawnione.
                Możemy zaplanować kto i w jakim czasie ma prawo przebywać w danym obszarze.
                Takie uprawnienia może nadawać tylko administrator systemu. </p>
                </blockquote>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title p-2" style="font-weight: bold; ">KTO PRZYCHODZI I WYCHODZI</h5>
                        <p class="card-text p-2">System kontroli dostępu dostarcza informacje o tym, kto i kiedy wchodzi oraz wychodzi z danego budynku lub pomieszczenia. Dzięki temu możesz zdalnie kontrolować czy poszczególne osoby nie spóźniają się do pracy oraz czy nie wychodzą zbyt wcześnie z firmy</p>
                    </div>
                </div>
            </div>

          <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title p-2" style="font-weight: bold; ">BRAK MECHANICZNYCH KLUCZY</h5>
                    <p class="card-text p-2">Użycie tradycyjnych mechanicznych kluczy ma kilka wad. Ograniczenie dostępu do poszczególnych obszarów wymaga posiadania indywidualnych kluczy mechanicznych, które mogą być duplikowane, co niesie ze sobą ryzyko uzyskania nieautoryzowanego dostępu</p>
                </div>
            </div>
          </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title p-2" style="font-weight: bold; ">UŁATWIAJ UZYSKANIE DOSTĘPU SWOIM PRACOWNIKOM</h5>
                        <p class="card-text p-2">System kontroli dostępu pozwala skonfigurować, kto posiada dostęp do każdego obszaru Twojej firmy. Po udzieleniu autoryzacji pracownik może uzyskać dostęp do wszystkich obszarów, których potrzebuje, aby wykonać swoją pracę. Po zbliżeniu karty do czytnika lub wprowadzeniu kodu PIN, pracownik może z łatwością dotrzeć na stanowisko pracy.</p>
                    </div>
                </div>
          </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title p-2" style="font-weight: bold; ">OGRANICZENIE KRADZIEŻY I WYPADKÓW</h5>
                        <p class="card-text p-2">Możesz chronić mienie swojej firmy, kosztowny sprzęt komputerowy, a nawet materiały biurowe, kontrolując dostęp do poszczególnych budynków i pomieszczeń. Przykładowo możesz przyznać dostęp do pomieszczeń ze sprzętem komputerowym i serwerami komputerowych jedynie kilku zaufanym pracownikom. Co więcej jeśli pracownicy mają świadomość, że ich wejścia i wyjścia są monitorowane, będą skrupulatniej przestrzegać regulaminu i godzin pracy. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}