{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
<section style="background-color: #f5f5f5;" >
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12">
                <h2>SYSTEMY <span style="color:orange;">MONITORINGU</span> CCTV</h2>
                </div>
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p class="monit-font">Jednym z podstawowych elementów naszej oferty są systemy monitoringu wizyjnego.
                        Pracujemy tylko i wyłączenie, na urządzeniach renomowanych firm, dzięki czemu gwarantujemy doskonałą jakość obrazu oraz niezawodność zaproponowanych przez nas rozwiązań.</p>
                    <p class="monit-font">Mamy duże doświadczenia zarówno w tworzeniu systemów opartych na technologiach analogowych HD-TVI ,HD-CVI, AHD jak również rozległych systemach IP.</p>
                    <p class="monit-font">W naszych rozwiązaniach wykorzystujemy transmisje przewodowe, radiowe (radiolinie), jak również sieci oparte na połączeniach światłowodowych.</p>
                    <p class="monit-font">Do każdego zlecenia podchodzimy z wyjątkową starannością – od projektu instalacji – do realizacji zadania.
                        Potwierdzeniem wysokiego standardu realizowanych przez nas zleceń, są referencje jakie otrzymujemy od naszych klientów.</p>
                    <p class="monit-font">Dzięki systematycznym szkoleniom, stanowimy zespól wykfalifikowanych instalatorów, stosujących u swoich klientów tylko najnowsze dostępne na rynku rozwiązania.</p>
                </blockquote>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title p-2" style="font-weight: bold; ">WYSOKA JAKOŚĆ</h5>
                        <p class="card-text p-2">System monitoringu przez nas instalowany wyróżnia się wysoką jakością nagrywanego obrazu a zarazem jest w przystępnej cenie</p>
                    </div>
                </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title p-2" style="font-weight: bold; ">DOSTEP Z KAŻDEGO URZĄDZENIA</h5>
                    <p class="card-text p-2">Każdy zainstalowany system posiada możliwość podglądu w czasie rzeczywistym co dzieje się na naszej posesji z każdego urządzenia.</p>
                </div>
            </div>
          </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title p-2" style="font-weight: bold; ">GWARANCJA</h5>
                        <p class="card-text p-2">Na każdą instalacje udzielamy conajmniej 12 Miesięcznej gwarancji, a w razie problemów postaramy się je jak najszybciej.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-md-12">
                <h2>SYSTEMY <span style="color:orange;">MONITORINGU</span> GSM</h2>
            </div>
            <div class="col-md-12">
                <blockquote class="blockquote">
                <p class="monit-font">Jedną z naszych pierwszych profesji, było tworzenie systemów opartych na technologii GSM.
                    Dzięki wieloletniemu doświadczeniu, stworzyliśmy produkty, które pełnić mogą funkcje monitoringu – przy wykorzystaniu autonomicznego systemu zasilania.</p>
                <p class="monit-font">Rozwiązania takie znajdują zastosowanie w przypadku dokumentowania np. przebiegu budowy, monitoringu działki, monitoringu warunków pogodowych jak i monitoring mobilny.</p>
                </blockquote>
            </div>
        </div>

        <div class="row photos mt-4">
            <div class="col-xs-6 col-md-4 item mb-4"><img class="img-fluid blur rounded" src="{% static 'assets/img/monitoring/image001full.jpg' %}"></div>
            <div class="col-xs-6 col-md-4 item mb-4"><img class="img-fluid blur rounded" src="{% static 'assets/img/monitoring/image005full.jpg' %}"></div>
            <div class="col-xs-6 col-md-4 item mb-4"><img class="img-fluid blur rounded" src="{% static 'assets/img/monitoring/image006full.png' %}"></div>
        </div>
    </div>



</section>
{% endblock %}