{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12">
                <h2>MONITORING <span style="color:orange;">MOBILNY</span></h2>
            </div>
            <div class="col-md-10">
                <blockquote class="blockqouote">
                    <p class="monit-font"><img style="float: right;" height="300" src="{% static 'assets/img/monitoring/WhatsApp Image 2022-08-05 at 16.36.36.jpeg' %}">Skrzynka na Budowę CCTV do bardzo szybkiego uruchomienia punktu monitoringu. </p>
                    <p class="monit-font">Zaprojektowana w celu zapewnienia pełnego bezpieczeństwa placów budowy, infrastruktury lub dowolnego miejsca, w którym wymagany jest tymczasowy monitoring bez dostępu do źródła zasilania.
                    W zestawie znajdują się: Kamery 2mpix, rejestrator z dyskiem posiadający zapis do 14 dni, zasilacz, akumulator 12v 18ah, całość zabudowana w skrzyni hermetycznej RACK z zamkiem. </p>
                    <p class="monit-font">Funkcje:
                    <ul>
                        <li><strong>wtargnięcie</strong> - pozwala na wykrycie obiektu wchodzącego lub wychodzącego z chronionej strefy i wysłanie powiadomienia na urządzenie mobilne.</li>
                        <li><strong>wyznaczenie linii przejścia (klasyfikacja ludzi i pojazdów)</strong> - funkcja wyzwala alarm po przekroczeniu wyznaczonej linii przez poruszający się obiekt.</li>
                    </ul>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
{% endblock %}