{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
<section class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Z naszych <span style="color: orange;">usług</span> skorzystali między innymi:</h2>
            </div>
            <div class="col-md-12">
                <blockquote class="blockquote">
                <h3><strong>Przedsiębiorstwa handlowo-usługowe:</strong></h3>
                <p class="monit-font">
                    <ul>
                        <li>Centrum Handlowe Solaris - montaż monitoringu CCTV IP</li>
                        <li>Atrium Centrum Ploterowe - montaż monitoringu CCTV IP</li>
                        <li>Proinvest - montaż monitoringu CCTV IP/HDCVI , montaż systemu alarmowego SSWiN, montaż systemu KD</li>
                        <li>RV Metal - montaż monitoringu CCTV IP</li>
                        <li>Przedsiębiorstwo Wielobranżowo Usługowe Best Opebel S.C - montaż monitoringu CCTV IP</li>
                        <li>Explomet - montaż monitoringu HDCVI</li>
                        <li>Polbruk Opole - montaż monitoringu CCTV IP</li>
                        <li>Janex Serwis Zakuwanie Filtry Oleje Smary - montaż monitoringu HDCVI</li>
                        <li>Animex - montaż monitoringu CCTV IP</li>
                    </ul>
                </p>
                <p class="monit-font">
                    <h3><strong>Biura:</strong></h3>
                    <ul>
                        <li>Janex Serwis Zakuwanie Filtry Oleje Smary oddział 2. - montaż monitoringu CCTV IP</li>
                        <li>Biuro rachunkowe Łozińska Magdalena Łozińska - montaż monitoringu HDCVI, montaż systemu alarmowego SSWiN, instalacja elektryczna</li>
                    </ul>
                </p>

                <p class="monit-font">
                    <h3><strong>Sklepy:</strong></h3>
                    <ul>
                        <li>Delikatesy Centrum Plus - montaż monitoringu CCTV IP</li>
                        <li>Biedronka Jełowa - montaż monitoringu CCTV IP, montaż systemu alarmowego SSWiN</li>
                    </ul>
                </p>

                <p class="monit-font">
                    <h3><strong>Parki i Lasy:</strong></h3>
                    <ul>
                        <li>Park 800-Lecia Opole - montaż monitoringu CCTV IP</li>
                        <li>Owocowy Ogród Miejski Gogolin - montaż monitoringu CCTV IP</li>
                        <li>Turawa Lasy Państwowe - montaż monitoringu CCTV IP</li>
                        <li>Park Miejski Prudnik - montaż monitoringu CCTV IP</li>
                        <li>Strefa Rekreacyjno Sportowa Kędzierzyn-Koźle - montaż monitoringu CCTV IP</li>
                    </ul>
                </p>

                <p class="monit-font">
                    <h3><strong>Zarządcy Nieruchomości i Wspólnoty Mieszkaniowe :</strong></h3>
                    <ul>
                        <li>Opolska Spółdzielnia Mmieszkaniowa „Przyszłość” - - montaż monitoringu HDCVI</li>
                        <li>Osiedle Prószkowska 1-5 - montaż monitoringu HDCVI</li>
                        <li>Osiedle Prószkowska  7-13 - montaż monitoringu HDCVI</li>
                        <li>Osiedle Prószkowska 15-21 - montaż monitoringu HDCVI</li>
                        <li>Osiedle Prószkowska 23-29 - montaż monitoringu HDCVI</li>
                        <li>Osiedle Prószkowska 31-37 - montaż monitoringu HDCVI</li>
                        <li>Prószkowska Administracja - montaż monitoringu HDCVI</li>
                        <li>Osiedle Koszyka 2-10 - montaż monitoringu HDCVI</li>
                        <li>Osiedle Wrocławska 16 ad - montaż monitoringu CCTV IP</li>
                        <li>Osiedle Wrocławska 18 ad - montaż monitoringu CCTV IP</li>
                        <li>Osiedle Wrocławska 2 ac - montaż monitoringu CCTV IP</li>
                        <li>Osiedle Kasztelańskie 53-55-57 - montaż monitoringu CCTV IP</li>
                        <li>WESTA S.P Z.o.o - montaż monitoringu CCTV IP</li>
                        <li>Osiedle Teńczowa - montaż monitoringu CCTV IP</li>
                        <li>Osiedle Rubinowe - montaż monitoringu CCTV IP</li>
                        <li>Osiedle Partyzancka - montaż monitoringu CCTV IP</li>
                        <li>Nova s.c- montaż monitoringu CCTV IP</li>
                        <li>Rim s.c - montaż monitoringu CCTV IP</li>
                        <li>CZNiWM Sp. Z.O.O - montaż monitoringu CCTV IP</li>
                        <li>Elkom - montaż monitoringu CCTV IP</li>
                    </ul>
                </p>

                <p class="monit-font">
                    <h3><strong>Szkoły:</strong></h3>
                    <ul>
                        <li>Psp 26 - montaż monitoringu CCTV IP, montaż systemu KD</li>
                    </ul>
                </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
{% endblock %}