{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
<div class="container mb-5">
            <div class="intro">
                <h1 class="text-center mt-5 mb-5">Referencje</h1>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/UM_Opole_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/UM_Opole_800.jpg' %}"></a><p class="text-center">UM Opole</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/Best_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/Best_800.jpg' %}"></a><p class="text-center">BestOpebel-"Wyspa Bolko"</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/Best2_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/Best2_800.jpg' %}"></a><p class="text-center">BestOpebel- "Mały Rynek"</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/MZK_Opole_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/MZK_Opole_800.jpg' %}"></a><p class="text-center">MZK Opole</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/SM_Opole.pdf_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/SM_Opole.pdf_800.jpg' %}"></a><p class="text-center">SM Opole</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/WCM_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/WCM_800.jpg' %}"></a><p class="text-center">WCM Opole</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/General_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/General_800.jpg' %}"></a><p class="text-center">General Property</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/Smooth_the_fruit_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/Smooth_the_fruit_800.jpg' %}"></a><p class="text-center">Smooth the Fruit</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/rim_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/rim_800.jpg' %}"></a><p class="text-center">RIM Nieruchomości</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/Prudnik_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/Prudnik_800.jpg' %}"></a><p class="text-center">Prudnik - Szkoła</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/Store_Enso_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/Store_Enso_800.jpg' %}"></a><p class="text-center">Stora Enso</p></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static 'assets/img/referencje/Tomtech_800.jpg' %}" data-lightbox="photos"><img class="img-fluid blur" src="{% static 'assets/img/referencje/Tomtech_800.jpg' %}"></a><p class="text-center">Tomtech</p></div>
            </div>
        </div>
    </div>
{% endblock %}