{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12">
                <h2>USŁUGI <span style="color:orange;">DODATKOWE</span></h2>
            </div>
            <div class="col-md-12">
                <blockquote class="blockqouote">
                    <p class="monit-font">Skrzynka na Budowę CCTV do bardzo szybkiego uruchomienia punktu monitoringu. </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
{% endblock %}