{% extends 'sites/base/base.html' %}
{% load static %}
{% block content %}
<section class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>SERWIS I <span style="color: orange;">KONSERWACJA</span></h2>
            </div>

            <div class="col-md-12">
                <blockquote class="blockquote">
                <h3><strong>Podstawowe czynności Serwisowe:</strong></h3>
                <p class="monit-font serw"><strong>1.</strong>  Oględziny, wysłuchanie uwag użytkownika dotyczących systemu telewizji przemysłowej, Zapisanie i umieszczenie uwag w notatce służbowej. Odpowiedź na zadane pytania.</p>
                </blockquote>
            </div>

            <div class="col-md-12 pt-5">
                <blockquote class="blockquote">
                <h3><strong>Punkty kamerowe:</strong></h3>
                <p class="monit-font serw"><strong>a)</strong> sprawdzenie instalacji , rozmieszczenia i zamocowania całego wyposażenia urządzeń </p>
                <p class="monit-font serw"><strong>b)</strong> sprawdzenia poprawności działania wszystkich kamer , łącznie z urządzeniami uruchamianymi ręcznie ; </p>
                <p class="monit-font serw"><strong>c)</strong> sprawdzenie zgodności z wymaganiami wszystkich połączeń giętkich; </p>
                <p class="monit-font serw"><strong>d)</strong> sprawdzenie czy zasilacze główne i rezerwowe pracują i są sprawne; </p>
                <p class="monit-font serw"><strong>e)</strong> sprawdzenie rejestratora i jego obsługi zgodnie z procedurą zakładu instalacji CCTV; </p>
                <p class="monit-font serw"><strong>f)</strong> sprawdzenie poprawności działania każdego urządzenia transmisji wizji przy współpracy z odpowiedzialną władzą albo zainteresowanym centrum odbiorczym;:
g) sprawdzenie czy system CCTV jest całkowicie w stanie gotowości do pracy.  </p>
                <p class="monit-font serw"><strong>2.</strong> Zleceniodawca umożliwi Zleceniobiorcy realizację jego obowiązków, w szczególności poprzez zapewnienie dostępu do CCTV oraz stworzenie możliwości kontroli jego sprawności . </p>
                <p class="monit-font serw"><strong>3.</strong> Naprawy urządzeń i instalacji, wykraczające poza czynności określone w pkt.1. dokonywane będą według następujących zasad: </p>
                <p class="monit-font serw"><strong>a)</strong> nieodpłatnie przez okres trwania umowy, z uwzględnieniem odpłatności za zastosowane nowe elementy. </p>
                <p class="monit-font serw"><strong>b)</strong> odpłatnie po upływie okresu o którym mowa w ppkt.a; </p>
                <p class="monit-font serw"><strong>c)</strong> odpłatnie w przypadku stwierdzenia dewastacji urządzeń i instalacji, ingerencji w nie osób nieupoważnionych przez Zleceniobiorcę lub naruszenia plomb gwarancyjnych; </p>
                <p class="monit-font serw"><strong>d)</strong> odpłatnie w przypadku uszkodzeń wynikłych w wyniku wyładowań atmosferycznych oraz uszkodzeń instalacji energetycznej.  </p>
                <p class="monit-font serw"><strong>e)</strong> odpłatnie, bez względu na okres użytkowania, dla urządzeń i instalacji dostarczonych lub wykonanych przez Zleceniodawcę bądź inną firmę czy osobę. </p>
                <p class="monit-font serw"><strong>f)</strong> nieodpłatnie comiesięczna archiwizacja danych </p>
                <p class="monit-font serw"><strong>g)</strong> nieodpłatnie, 2 razy w miesiącu, zgrywanie materiałów dowodowych na nośnikach danych (na zlecenie)  </p>
                <p class="monit-font serw"><strong>4.</strong> Odpłatne naprawy urządzeń i instalacji oraz montaż urządzeń dodatkowych dokonywane są na podstawie odrębnych zleceń. Zleceniodawca powinien w szczególności:
a) zlecić wykonanie odpłatnej naprawy na uzasadniony wniosek Zleceniobiorcy oraz umożliwić mu wykonanie związanych czynności, </p>
                <p class="monit-font serw"><strong>b)</strong> odebrać komisyjnie wykonane prace w ciągu 2 dni od daty powiadomienia przez Zleceniobiorcę, w przypadku zwłoki w protokolarnym odebraniu pracy w całości lub części Zleceniobiorca wystawi jednostronny protokół który stanowi podstawę do wystawienia faktury VAT. </p>
                <p class="monit-font serw"><strong>5.</strong> W przypadku, o którym mowa w pkt.4. Zleceniobiorca, po uzyskaniu informacji o niesprawności CCTV i umożliwieniu mu dostępu do niego, niezwłocznie w czasie nie dłuższym niż 24 godzin dokona niezbędnych napraw. </p>
                <p class="monit-font serw"><strong>6.</strong> Zleceniodawca wyznacza _________________________________________( imię i nazwisko oraz stanowisko), jako osobę reprezentującą jego interesy, która zobowiązana jest do stałej współpracy ze Zleceniobiorcą. </p>
                <p class="monit-font serw"><strong>7.</strong> Zleceniobiorca i Zleceniodawca zachowają w tajemnicy wszystkie informacje, które mają wpływ na stan bezpieczeństwa Zleceniodawcy w czasie obowiązywania umowy oraz po jej rozwiązaniu </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
{% endblock %}